body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

nav {
  background-color: #007bff;
  padding: 15px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 20px;
}
